@font-face {
			font-family: "OpenSansSemiBold";
			src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
			src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
			url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

  @font-face {
			font-family: "OpenSansLight";
			src: url("../fonts/OpenSansLight/OpenSansLight.eot");
			src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
			url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
