@media screen and (max-width: 640px) {
  .footer{
    padding: 2% 0;
  }
  .main{
    padding: 8px;
  }
  .wrapper{
    padding-right: 50px;
  }
  .text .wrapper .l{
    display: block;

  }
  .text {
    font-size: 18px;
    padding-top: 5px;
  }
  .menu{
    position: absolute;
    top: -300px;
    width: 100%;
    height: auto;
    padding: 40px 0;
    text-align: left;
    transition: 1s;
    z-index: 0;

    }

  .show{
      top: 0;
      transition: 1s;
    }
  .logo{
    width: 15%;
    height: 200%;
    transition: all .1s .1s;
    img{
      width: 100%;
      padding: 0;
    }
  }
  ul{
    padding-left: 20px;
    li{


      display: block;
      border: 0 ;
      padding: 0;
      margin-bottom: 10px;
      a{
        font-size: 14px;
      }
    }
  }
  .item{
    display: block;
    height: 100%;

    & .img{
      height: 275px;
      & .before{
        width: 74px;
        height: 70px;
        left: 42%;
      }
      & .after{
          height: 225px;
          width: 170px;
          top: 16%;
          left: 31%;


      }
      & img{
        height: 75%;
      }
    }
    & .text{
      flex: 0 0 calc(20%);
      font-size: 14px;
      & span{
        display: inline-block;
        margin-bottom: 14px;
      }
      & .features{
        display: block;
        & .feature{
          margin: 0;
          padding: 0;
          display: flex;
          width: 100%;
          & .specific{
            flex: 0 0 calc(50%);
          }
          & .value{
            padding-left: 25px;
            flex: 0 0 calc(50%);
                  }
                }
              }
          }
        }
    }
@media screen and (max-width: 320px) {
  .wrapper{
    padding-right: 50px;
  }
  .header{
    height: 63px;
  }
  .footer{
    display: none;
  }

  .header{
    height: 45px;
  }
  .wrapper{
    padding-left: 20px;
  }
  .item .text .features .feature .value{
    padding-left: 0;
  }
  ul{
    padding-left: 20px;
    li{



      a{
        font-size: 11px;
      }
    }
  }
  .text .wrapper .w{
    display: none;
  }
  .logo{
    left: 20px;
    width: 17%;
    height: 100%;
  }
  .menu{
    padding: 28px 0;
  }
  .item{
    margin: 0 auto;
    & .img{
      height: 160px;
      & .before{
        width: 45px;
        height: 40px;
        left: 40.5%;
      }
      & .after{
        width: 100px;
        height: 129px;
        top: 15%;
        left: 29%;
      }
    }
    & .text{
      flex: 0 0 calc(20%);
      font-size: 16px;
      & span{
        display: inline-block;
        margin-bottom: 5px;
      }
      & .features{
        display: block;
        & .feature{
          margin-top: 6px;
          display: flex;
          flex-direction: column;
          & .specific{
            flex: 0 0 100%;
          }
          & .value{
            padding-left: 0;
            flex: 0 0 100%;
                  }
                }
              }
          }
  }
  }
