@import "_font.scss";
html{
  height: 100%;
}
body{
  position: relative;
  z-index: 1;
  height: 100%;


}
.header{
  background-color: #dfdfdf;
  z-index: 2;
  position: relative;
  border-bottom: 0.5px solid #9e9e9e;

}
.menu{
  background-color: #000;
  margin: 0;
  z-index: 2;
}
ul{
    padding-left: 176px;
  li{
    margin: 3px 0;
    display: inline-block;
    padding: 0 17.5px;
    border-right: 2px solid #fff;
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
      border-right: 0;
    }
    a{
      text-decoration: none;
      font-family: 'OpenSansSemiBold';
      font-size: 16px;
      color: #fff;



    }
  }
}
.logo{
  position: absolute;
  top: 0;
  z-index: 0;
  background: #25ce8c;
  width: 5%;
  height: 115%;
  left: 56px;
  img{
    width: 100%;
    padding: 13px 0;
  }
}
.text{
  padding-left: 49px;
    padding-top: 10px;

    font-family: 'OpenSansLight';
    font-size: 23px;
    width: 100%;
    & .wrapper{
      width: 100%;
      display: inline-block;
      .l{
          padding-top: 10px ;
          float: right;
          display: none;
      }
      .w{
        float: left;

      }
    }
}

#nav-toggle { cursor: pointer; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
  background-color: #fff;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

.main{


}
.wrapper{
  padding: 0 127px;
  position: relative;
  height: 100%;
}
.item{
  padding: 9.5% 0;
  position: relative;
  width: 100%;
  height:100%;
  display: flex;
  & .img{
    flex: 0 0 calc(50%);
    position: relative;
    text-align: center;
    & img{
      display: block;
      margin: 0 auto;
      position: relative;
      }


    & .before{
      position: absolute;
      opacity: 0;
      left: 40%;
      background-size: contain;
      z-index: 1;
      transition: all .15s .1s;
      
      &:hover{
        opacity: 1;
      }
    }
    & .after{
      position: absolute;
      top: 20%;
      width: 235px;
      height: 380px;
      left: 29%;
      opacity: 0;
      background-size: contain;
      transition: all .15s .1s;

      &:hover{
        opacity: 1;
      }
      }

    }

  & .text{
    margin:auto;
    flex: 0 0 calc(50%);
    padding: 15px 0 0 0;
    font-family: 'OpenSansLight' , sans-serif;
    font-size: 23px;
    & span{
      display: inline-block;
      margin-bottom: 23px;
    }
    & .features{
      display: block;
      & .feature{
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        & .specific{
          flex: 0 0 calc(40%);
        }
        & .value{

          flex: 0 0 calc(60%);
        }
      }
    }
  }
}
.uppercase{
  text-transform: uppercase;
}
.footer{

  text-align: center;
  font-size: 13px;
  font-family: 'OpenSansLight';
  color: #585555;
  border-top: 1px solid #cccccc;
  padding: 18.6px 0;
}
@import "_media.scss";
